
 h1{
     color: aqua;
     margin-left: 60px;
     justify-content: space-evenly;

}
 

.header{
    background-color: beige;
    display:flex;
    justify-content: space-between;
    
}
.grid{
    background-color: deepskyblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.icons{
    background-color: rgb(91, 122, 148);
    display: flex;
    justify-content: flex-end;
}
p,h2{
    text-align: center;
}
.site-description{
  background-color: rgb(123, 93, 134);
}
body{
    background-color: #808080;
    border-color: #000;
    padding: 1cm;
    margin: 0.2cm;
    font-size: large;
    border: 6mm;

}
.menu{
    display: flex;
    justify-content: space-around;
   
}
.header *{
    border: solid
}
a:link{
    color: #106010
}
a:visited{
    color: #106010
}

.menu a{
    margin-left: 30px;
}
.item{
    position: relative;
}
.item p{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.item:hover p{
 opacity: 1;
}
.item:hover img{
    opacity: 0.2;
}